Load Data from Drive to pinecone.json
{
  "name": "Load Data from Drive to pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OisrKvt_mc0u3R85eY2aw07uxFrjo4ba",
          "mode": "list",
          "cachedResultName": "Tesla Earnings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1OisrKvt_mc0u3R85eY2aw07uxFrjo4ba"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a8516616-4310-4f9c-a539-4320de2c3918",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xT4VX7PgTv8Den4X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "45430bcf-6ae6-48d4-842a-e1e4170b8010",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xT4VX7PgTv8Den4X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-course",
          "mode": "list",
          "cachedResultName": "n8n-course"
        },
        "options": {
          "pineconeNamespace": "tslan8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        608,
        -64
      ],
      "id": "ca3aff7e-98f3-484e-951e-7cf865ababcb",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "4BFtAICF2qM4oUaF",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        192
      ],
      "id": "fab6b98d-1c74-4e83-841c-639ac8e79632",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "nrTgzjiAImRX6xN9",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        208
      ],
      "id": "12a93e02-095c-4935-ac1b-a4ce365f4b38",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        688,
        384
      ],
      "id": "20c21a3b-596e-4815-9178-89910adff382",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        384,
        -144
      ],
      "id": "0d23dbe8-6a9d-489b-ba2e-4e17fd88b087",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2494e91d-1e26-41a3-8c75-527a27479e99",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "585845d9bed2e7c98c343e769717b1c621c5a966bb86102d1f3599ac047aa3bf"
  },
  "id": "AI7S66jjrGNEvNJD",
  "tags": []
}